.left {
  display: grid;
  align-content: center;
  justify-content: center;
  gap: 2rem;
}

.left h2 {
  font-size: 1rem;
  text-transform: uppercase;
}

.left p {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}

@media (min-width: $mantine-breakpoint-xs) {
  .left p {
    font-size: 4rem;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  max-width: 25rem;
}
