.wrapper {
  max-width: 650px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.loginsignup {
  background: #fde1ff;
}

.form {
  background-color: white;
  padding: 2rem;
}

.form .heading {
  font-size: 2rem;
}
