.wrapper {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginsignup {
  background: #fde1ff;
}

.form {
  background-color: white;
  padding: 2rem;
}

.form .heading {
  font-size: 2rem;
}
