.footer {
  background-color: var(--mantine-color-dark-7);
  color: white;
  padding: 1rem 0;
}

.newsletter p {
  opacity: 0.8;
}

.list_item {
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  display: flex;
  width: max-content;
  align-items: center;
  gap: 0.5rem;
}

.link:hover {
  opacity: 1;
}
