.link {
  text-decoration: none;
}

.item {
  background-color: inherit;
}

.imageBox {
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.content {
  display: grid;
  padding: 0.5rem 0;
  font-size: 14px;
}

.brand {
  font-weight: 600;
}

.price {
  font-weight: 600;
}

.price.sale {
  color: red;
}

.lastPrice {
  text-decoration: line-through;
  text-decoration-color: var(--mantine-color-gray-4);
  color: var(--mantine-color-gray-6);
}

.item:hover {
  cursor: pointer;
}

.item:hover .image {
  transform: scale(1.1);
}

.item:hover .content {
  text-decoration: underline;
}
