.container {
  padding-block: 1rem;
  min-height: 60vh;
}

.cart {
  @media (min-width: $mantine-breakpoint-md) {
    padding: 0 1rem 0 0;
  }
}

.heading {
  font-size: 2rem;
}

.sub_heading {
  font-size: 1.2rem;
  font-weight: 600;
}

.grid {
  border: 1px solid var(--mantine-color-gray-3);
  padding: 1rem;
}

/* IF SHOPPING CART HAS NO ITEMS */

.no_items {
  width: 100%;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no_items_content {
  text-align: center;
  border: 1px solid var(--mantine-color-gray-3);
  padding: 2rem;
}
