.nav {
  padding: 2rem;
  box-shadow: 0 1px 3px -2px black;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  color: black;
}

.link.active {
  text-decoration: underline;
  font-weight: bold;
}
