.initials {
  color: black;
  background-color: var(--mantine-color-white);
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.initials:hover {
  background-color: var(--mantine-color-dark-1);
}
