.container {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  padding: 2rem;
}

.left {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
}

.left p {
  max-width: 20rem;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}

.left svg {
  margin-inline: auto;
}

.left button {
  margin-inline: auto;
}

h4 {
  text-transform: uppercase;
}

.left button {
  width: min-content;
}

@media (min-width: $mantine-breakpoint-sm) {
  .left {
    text-align: start;
  }
  .left button {
    width: 100%;
  }
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.right img {
  max-width: 25rem;
}
