.offers {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  padding: 2rem;
}

.left p {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.1;
}

h4 {
  text-transform: uppercase;
}

.left button {
  width: min-content;
}
