.card {
  padding: 1.5rem;
  background-color: var(--mantine-color-white);
  position: relative;
}

@media (min-width: $mantine-breakpoint-md) {
  .card {
    min-width: 400px;
    max-width: 650px;
  }
}
