.images_inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images_inner img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.edit:hover {
  color: var(--mantine-color-blue-filled);
}

.remove:hover {
  color: var(--mantine-color-red-filled);
}
