.wrapper {
  display: grid;
  justify-content: stretch;
  align-items: center;
}

.mobile_header {
  position: relative;
  display: flex;
  justify-content: center;
}

.chevron {
  position: absolute;
  left: 1rem;
}


@media (min-width: $mantine-breakpoint-md) {
  .wrapper {
    justify-content: center;
  }
}
